<div class="row">
  {{#each posts}}
    <div class="col-12">
      <div class="card post">
        <div class="card-header">
          {{this.title}}
        </div>

        <div class="card-body">
          <div class="row">
            <div class="color 1"></div>
            <div class="color 2"></div>
            <div class="color 3"></div>
            <div class="color 4"></div>
          </div>
          <div class="row">
            <p class="card-text">{{color1}}</p>
            <p class="card-text">{{color2}}</p>
            <p class="card-text">{{color3}}</p>
            <p class="card-text">{{color4}}</p>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
