<header>
  <div class="row align-items-center">
    <div class="col justify-content-center text-center">

      <a class="btn btn-outline-dark" href="#">Space</a>
    </div>
  </div>
</header>

<div class="row justify-content-center">
  {{#each posts}}
    <div class="col-7 text-center">
      <div class="card border-white post">
        <div class="card-body">
          <div class="row justify-content-center">
            <style>
              .one {
                background-color: #{{this.color1}};
              }
            </style>
            <div class="color one"></div>
            <style>
              .two {
                background-color: #{{this.color2}};
              }
            </style>
            <div class="color two"></div>
            <style>
              .three {
                background-color: #{{this.color3}};
              }
            </style>
            <div class="color three"></div>
            <style>
              .four {
                background-color: #{{this.color4}};
              }
            </style>
            <div class="color four"></div>
          </div>
        </div>
        {{this.title}}

      </div>
    </div>
  {{/each}}
</div>

<div class="buttons">
  <div class="row justify-content-end">
    <a id="create" href="/posts/new"><img src="/img/Create.png"></a>
    <a id="top" href="#"><img src="/img/Top.png"></a>
  </div>
</div>


<footer class="text-center footer">
  <br></br>
  <small>© PALETTTE 2018. All rights reserved.</small>
  <br></br>
</footer>
