<div class = "parallax">
  <header>
      <div class="cover">
        <div class="col justify-content-center text-center">
          <h4 class="tagline">create and share your own color palettes</h4>
          <a class="btn btn-outline-secondary" href="/posts/new">Start Now</a>
        </div>
      </div>
  </header>
</div>
<div class="row justify-content-center">
  <div class="col-12">
    {{#each posts}}
      <div class="card border-white post text-center">
        <div class="card-body">
          <div class="row justify-content-center">
              <!-- Color One-->
              <div class="color-block">
                <div class="color one-{{this.color1}}"></div>
                <div class="overlay">
                  <div class="overlay-text">#{{this.color1}}</div>
                </div>
              </div>
              <style>
                .one-{{this.color1}} {
                  background-color: #{{this.color1}};
                }
              </style>

              <!-- Color Two -->
              <div class="color-block">
                <div class="color two-{{this.color2}}"></div>
                <div class="overlay">
                  <div class="overlay-text">#{{this.color2}}</div>
                </div>
              </div>
              <style>
                .two-{{this.color2}} {
                  background-color: #{{this.color2}};
                }
              </style>

              <!-- Color Three -->
              <div class="color-block">
                <div class="color three-{{this.color3}}"></div>
                <div class="overlay">
                  <div class="overlay-text">#{{this.color3}}</div>
                </div>
              </div>
              <style>
                .three-{{this.color3}} {
                  background-color: #{{this.color3}};
                }
              </style>

              <!-- Color Four -->
              <div class="color-block">
                <div class="color four-{{this.color4}}"></div>
                <div class="overlay">
                  <div class="overlay-text">#{{this.color4}}</div>
                </div>
              </div>
              <style>
                .four-{{this.color4}} {
                  background-color: #{{this.color4}};
                }
              </style>

              <!-- Color Five -->
              <div class="color-block">
                <div class="color five-{{this.color5}}"></div>
                <div class="overlay">
                  <div class="overlay-text">#{{this.color5}}</div>
                </div>
              </div>
              <style>
                .five-{{this.color5}} {
                  background-color: #{{this.color5}};
                }
              </style>
          </div>
        </div>
        <label>{{this.title}}</label>
      </div>
    </div>
  {{/each}}
</div>

<div class="buttons">
  <div class="row justify-content-end">
    <div class="container">
      <a class="button" id="top" href="#"><img src="/img/Up.png" alt="Button to Top" width="25" height="30"></a>
      <a class="button" id="bottom" href="javascript: document.body.scrollIntoView(false);"><img src="/img/Down.png" alt="Button to Bottom" width="25" height="30"></a>
      <a class="button" title="Create Palette" id="create" href="/posts/new"><img src="./img/Create-new.png" width=50px height=50px></a>
    </div>
  </div>
</div>


<footer class="text-center footer">
  <br></br>
  <small>© PALETTTE 2018. All rights reserved.</small>
  <br></br>
</footer>
