<header>
  <div class="row align-items-center">
    <div class="col justify-content-center text-center">
      <a class="btn btn-outline-dark" href="#">Space</a>
    </div>
  </div>
</header>
<div class="row justify-content-center">
  <div class="col-12">
    {{#each posts}}
      <div class="card border-white post text-center">
        <div class="card-body">
          <div class="row justify-content-center">
            <!-- <style>
              #{{this.color1}}1 {
                background-color: #{{this.color1}};
              }
            </style>
              <div class="color" id={{this.color1}}1></div>
            <style>
              #{{this.color2}}2 {
                background-color: #{{this.color2}};
              }
            </style>
              <div class="color" id={{this.color2}}2></div>
            <style>
              #{{this.color2}}3 {
                background-color: #{{this.color3}};
              }
            </style>
              <div class="color" id={{this.color3}}3></div>
            <style>
              #{{this.color2}}4 {
                background-color: #{{this.color4}};
              }
            </style>
              <div class="color" id={{this.color4}}4></div> -->
              <style>
                .one-{{this.color1}} {
                  background-color: #{{this.color1}};
                }
              </style>
                <div class="color one-{{this.color1}}"></div>
              <style>
                .two-{{this.color2}} {
                  background-color: #{{this.color2}};
                }
              </style>
                <div class="color two-{{this.color2}}"></div>
              <style>
                .three-{{this.color3}} {
                  background-color: #{{this.color3}};
                }
              </style>
                <div class="color three-{{this.color3}}"></div>
              <style>
                .four-{{this.color4}} {
                  background-color: #{{this.color4}};
                }
              </style>
                <div class="color four-{{this.color4}}"></div>
          </div>
        </div>
        <label>{{this.title}}</label>
      </div>
    </div>
  {{/each}}
</div>

<div class="buttons">
  <div class="row justify-content-end">
    <!-- <a class="button" id="top" href="#"><img src="/img/Top (1).png"></a>

    <a class="button" id="create" href="/posts/new"><img src="/img/Create (1).png"></a> -->
    <a href="#"><button type="button" class="btn btn-outline-dark" id="top">^</button></a>

    <a href="/posts/new"><button type="button" class="btn btn-outline-dark" id="create">+</button></a>
  </div>
</div>


<footer class="text-center footer">
  <br></br>
  <small>© PALETTTE 2018. All rights reserved.</small>
  <br></br>
</footer>
